Clients/WebApiProxyConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="proxy">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:anyURI" name="endpoint"/>
          <xs:attribute type="xs:boolean" name="generateOnBuild"/>
          <xs:attribute type="xs:string" name="clientSuffix"/>
          <xs:attribute type="xs:string" name="namespace"/>
          <xs:attribute type="xs:string" name="name"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>